body {
  min-height: 100vh;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  transition: background-color 5000s ease-in-out 0s;
  @apply border-white border-opacity-30;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.277);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

[data-rbd-draggable-id] {
  left: auto !important;
  top: auto !important;
}
.reapop__notification {
  background: var(--colors-blackish) !important;
  border: 1px solid var(--colors-card) !important;
  box-shadow: none !important;
}
.reapop__notification-message {
  color: var(--colors-white-muted) !important;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd20;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd1a;
}
