/* Dropdown Styles*/

@keyframes slideUpAndFade {
  0% {
    opacity: 0;
    transform: translateY(4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUpAndFadeClose {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(4px);
  }
}

/*---------------------------*/
@keyframes slideRightAndFade {
  0% {
    opacity: 0;
    transform: translateX(-4px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRightAndFadeClose {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-4px);
  }
}

/*---------------------------*/
@keyframes slideDownAndFade {
  0% {
    opacity: 0;
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDownAndFadeClose {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-2px);
  }
}

/*---------------------------*/
@keyframes slideLeftAndFade {
  0% {
    opacity: 0;
    transform: translateX(2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideLeftAndFadeClose {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(2px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .dropdown {
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    animation-fill-mode: forwards;
    transform-origin: var(--radix-dropdown-menu-content-transform-origin);
    /* will-change: "transform opacity"; */
  }
  .dropdown[data-state="open"].dropdown[data-side="top"] {
    animation-name: slideDownAndFade;
  }
  .dropdown[data-state="closed"].dropdown[data-side="top"] {
    animation-name: slideDownAndFadeClose;
  }

  .dropdown[data-state="open"].dropdown[data-side="bottom"] {
    animation-name: slideUpAndFade;
  }
  .dropdown[data-state="closed"].dropdown[data-side="bottom"] {
    animation-name: slideUpAndFadeClose;
  }

  .dropdown[data-state="open"].dropdown[data-side="right"] {
    animation-name: slideLeftAndFade;
  }
  .dropdown[data-state="closed"].dropdown[data-side="right"] {
    animation-name: slideLeftAndFadeClose;
  }

  .dropdown[data-state="open"].dropdown[data-side="left"] {
    animation-name: slideRightAndFade;
  }
  .dropdown[data-state="closed"].dropdown[data-side="left"] {
    animation-name: slideRightAndFadeClose;
  }
  .tooltip-content {
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
  }
  .tooltip-content[data-state="delayed-open"][data-side="top"] {
    animation-name: slideDownAndFade;
  }
  .tooltip-content[data-state="delayed-open"][data-side="right"] {
    animation-name: slideLeftAndFade;
  }
  .tooltip-content[data-state="delayed-open"][data-side="bottom"] {
    animation-name: slideUpAndFade;
  }
  .tooltip-content[data-state="delayed-open"][data-side="left"] {
    animation-name: slideRightAndFade;
  }
}
